# large datasets
data/raw/
data/processed/
.vscode
.idea
parameters/lstm/vocab.json
# model checkpoints
*.pt
*.ckpt
*.bin
*.pth
# cache
__pycache__/
*.pyc

# virtual environment
.venv/
venv/

# logs
logs/

# system files
.DS_Store